@import '../variables.scss';
@import '../typography.scss';

.button-common {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 4px 16px;
  overflow: hidden;
  color: $color-primary;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid $color-primary;
  border-radius: 20px;
  cursor: pointer;

  @extend .buttons-small;

  &:hover {
    color: $color-white;
    background-color: $color-primary;
  }

  &:active {
    color: $color-white;
    background-color: $color-dark-green;
    border-color: $color-dark-green;
  }

  &:disabled {
    color: $color-white;
    background-color: $color-light-grey;
    border-color: $color-light-grey;
    cursor: initial;
  }

  &--primary {
    color: $color-white;
    background-color: $color-primary;

    &:hover:not(:disabled) {
      color: $color-white;
      background-color: $color-dark-green;
      border-color: $color-dark-green;
    }
  }

  &--checked {
    color: $color-dark-grey;
    background-color: $color-light-grey;
    border-color: $color-light-grey;

    &:hover {
      color: $color-dark-grey;
      background-color: $color-medium-grey-50;
      border-color: transparent;
    }
  }

  &--text {
    padding: 0;
    text-decoration: underline;
    background-color: transparent;
    border: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.button--for-table-row {
  @extend .button-common--text;
  @extend .text-caption-regular;
  display: flex;
  align-items: center;
  cursor: pointer;

  svg {
    width: 14px;
    height: 14px;
    margin-right: 8px;
  }
}
