@import 'styles/variables';
@import 'styles/typography';

.sidebar-menu__wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.sidebar-menu {
  position: absolute;
  z-index: 1;
  width: 0;
  height: 100vh;
  background-color: rgb(172, 223, 236);
  transition: 0.2s min-width, 0.2s width;

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__drag {
    display: none;
  }

  &__navigation {
    height: 100%;
  }

  &__menu-container {
    display: none;
    height: 100%;

    & > * {
      display: block;
      color: $color-secondary;
      text-decoration: none;
    }
  }

  &_expanded {
    width: 200px;

    & .sidebar-menu__menu-container {
      display: block;
    }

    & .sidebar-menu__drag {
      display: block;
      margin-right: -19px;
      color: white;
      font-size: 25px;
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}
