@import 'styles/variables';
@import 'styles/typography';

.sidebar-menu {
	position: absolute;
	height: 100vh;
  width: 0;
	transition: 0.2s min-width, 0.2s width;
	background-color: rgb(172, 223, 236);

	&__navigation {
		height: 100%;
	}

	&__menu-container {
		display: none;
		height: 100%;

		& > * {
			color: $color-secondary;
			text-decoration: none;
			display: block;
		}
	}

	&_expanded {
    width: 208px;
    min-width: 208px;

		& .sidebar-menu__menu-container {
			display: block;
		}
	}
}