@import 'styles/variables';
@import 'styles/typography';

.list {
  display: flex;
  justify-content: center;

  & .ordered-list {
    @extend .text;
    margin: 0;
    padding: 15px 20px 15px 35px;
    background: $color-background-primary-hover;
    border-radius: 8px;

    &__item:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }
}
