@import 'styles/variables';
@import 'styles/typography';

.header {
  padding-left: 50px;

  &-title {
    @extend .text-title-main;

    min-height: 50px;
    padding-left: 10px;
    display: flex;
    align-items: center;
  }

  &__page-title {
    @extend .text-title;

    min-height: 50px;
    margin-top: 4px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    background-color: $color-primary;
    color: $color-white;
  }
}
