@import 'styles/variables';
@import 'styles/typography';

body {
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  background: no-repeat url('./assets/icons/background.jpg');
  background-size: cover;
}

.slide-enter {
  transform: translate(350%, 0);
}

.slide-enter.slide-enter-active {
  transform: translate(0%, 0);
  transition: all 500ms;
}

.slide-exit {
  transform: translate(100%, 0);
}

.slide-exit.slide-exit-active {
  transform: translate(0%, 0);
  transition: all 500ms;
}

// .my-node-enter {
//   opacity: 0;
// }
// .my-node-enter-active {
//   opacity: 1;
//   transition: opacity 500ms;
// }
// .my-node-exit {
//   opacity: 1;
// }
// .my-node-exit-active {
//   opacity: 0;
//   transition: opacity 500ms;
// }

// .alert-enter {
//   opacity: 0;
//   transform: scale(0.9);
// }
// .alert-enter-active {
//   opacity: 1;
//   transform: translateX(0);
//   transition: opacity 700ms, transform 700ms;
// }
// .alert-exit {
//   opacity: 1;
// }
// .alert-exit-active {
//   opacity: 0;
//   transform: scale(0.9);
//   transition: opacity 700ms, transform 700ms;
// }
