@import 'styles/variables';
@import 'styles/typography';

.table {
  padding: 20px;
  
  &-content {
    @extend .text;
    z-index: 1;
    background-color: $color-background-primary;
    border-radius: 10px;
    box-shadow: $shadow-table;
  }

  &-rows__wrapper {
    height: 55vh;
  }

  &-rows {
    &::-webkit-scrollbar {
      position: absolute;
      width: 10px;

      &:horizontal {
        height: 5px;
      }

      &-track {
        box-shadow: $shadow_scrollbar;
      }

      &-thumb {
        min-height: 30px;
        background-color: $color-primary-80;
        border-radius: 5px;
      }
    }
  }

  &-rows__description {
    @extend .text;
    display: flex;
    justify-content: center;
    padding: 20px;
    letter-spacing: 0.3px;
  }

  &-button {
    @extend .text;
    margin: 0 40px 15px 0;
    padding: 6px 14px;
    letter-spacing: 0.5px;
    background-color: $color-background-secondary;
    border: 2px solid $color-primary;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: $color-background-primary-hover;
    }

    &:focus {
      outline: none;
    }
  }

  &__select-filter {
    position: relative;

    & .seacrh-select__placeholder {
      display: flex;
      align-items: center;
      color: $color-placeholder;

      &-text {
        margin: 0 0 0 7px;
        padding-top: 3px;
      }
    }
  }
}
