@import 'styles/variables';
@import 'styles/typography';
@import 'styles/mixins/content';

$table-title: minmax(200px, 100fr);
$table-author: minmax(175px, 75fr);
$table-date: minmax(125px, 50fr);
$table-rating: minmax(125px, 50fr);
$table-isPriority: minmax(60px, 20fr);
$table-action: 88px;

$table-columns: $table-title $table-author
$table-date $table-rating $table-isPriority
$table-action;

.table {
  @include with-content();
  overflow: inherit;

  &__button-action {
    @extend .buttons-small;

    padding: 4px 30px;
  }

  &__form-controls {
    & .sticky-form-controls__buttons > * {
      max-width: 165px;
    }
  }
}
