@import 'variables.scss';

:export {
  colorRed: $color-red;
  colorText: $color-text;
  colorGreen: $color-green;
  colorBackground: $color-background;
  colorBlack87: $color-black-87;
  colorBlack30: $color-black-30;
  colorBlack10: $color-black-10;
  colorBlack2: $color-black-2;
  colorDarkGrey: $color-dark-grey;
  colorLightGray: $color-light-grey;
  colorLightGray13: $color-light-grey-13;
  colorLightGray20: $color-light-grey-20;
  colorLightGray40: $color-light-grey-40;
  colorLightGray80: $color-light-grey-80;
  colorMediumGray: $color-medium-grey;
  colorMediumGray70: $color-medium-grey-70;
  colorMediumGray80: $color-medium-grey-80;
  colorMediumBlue: $color-medium-blue;
  colorRoyalBlue: $color-royal-blue;
  colorRoyalBlue4: $color-royal-blue-4;
  colorDarkBlue: $color-dark-blue;
  colorDarkBlue40: $color-dark-blue40;
  colorGrayDark: $color-dark-grey;
  colorYellowOrange: $color-yellow-orange;
  colorActive: $color-active;
  colorLabel: $color-label;
  shadowBlock: $shadow-block;
  shadowPopup: $shadow-popup;
  colorWhite: $color-white;
  colorWhite30: $color-white-30;
  colorWhite50: $color-white-50;
  backgroundSelectFilterActive: $background-select-filter-active;
  colorLinkBlue: $color-link-blue;
  backgroundSelectFilterHover: $background-select-filter-hover;
  colorOrange: $color-orange;
  colorCheckBoxInactive: $color-check-icon-inactive;
  colorTableRowHover: $color-table-row-hover;
  colorTableHeadings: $color-table-headings;
  colorDormantPopup: $color-dormant-popup;
  colorBlack14: $color-black-14;
  colorGreenThree5: $color-green-three-5;
  colorScrollTrack: $color-scroll-track;
  colorSelectBorder: $color-select-border;
} // Need to declare added style property \src\core\types\styles-exports.d.ts
