$font-primary: 'Roboto', 'Helvetica', 'Arial', sans-serif;

$color-text: black;
$color-background-body: #f5f5f5;
$color-background-primary: #f2fbf2;
$color-background-primary-hover: #b0ecb0;
$color-background-secondary: #d0f2d0;
$color-primary: green;
$color-border-20: rgba($color-primary, 0.2);
$color-orange: #f36d38;
$color-placeholder: #8d8d8d;
$shadow-table: 0 2px 2px rgba(0, 0, 0, 0.1);
