$font-primary: 'Roboto', 'Helvetica', 'Arial', sans-serif;

$color-text: black;
$color-background: #f5f5f5;
$color-background-primary: #f2fbf2;
$color-background-primary-hover: #eaf8ea;
$color-background-secondary: #d0f2d0;
$color-dark-green: #176017;
$color-scroll-track: rgba($color-dark-green, 0.2);
$color-primary: #3a953a;
$color-primary-40: rgba($color-primary, 0.4);
$color-primary-50: rgba($color-primary, 0.5);
$color-secondary: #e7f4e0;
$color-active-link: #5ef400;
$color-border: rgba($color-primary, 0.2);
$color-orange: #f36d38;
$color-placeholder: #8d8d8d;
$color-not-priority: #c3bcbc;
$color-white: #ffffff;
$color-dark-grey: #434343;
$color-medium-grey: #8d8d8d;
$color-medium-grey-50: rgba($color-medium-grey, 0.5);
$color-medium-grey-80: rgba($color-medium-grey, 0.8);
$color-light-grey: #dcdcdc;
$color-light-grey-20: rgba($color-light-grey, 0.2);
$color-light-grey-40: rgba($color-light-grey, 0.4);
$color-light-grey-80: rgba($color-light-grey, 0.8);
$color-red: #eb5757;
$color-active: #27ae60;
$color-normal-border: rgba(0, 0, 0, 0.15);
$color-disabled-border: rgba(0, 0, 0, 0.1);
$color-select-border: rgba(85, 86, 90, 0.2);
$color-label: rgba(0, 0, 0, 0.54);

$shadow-block: 0 2px 2px rgba(0, 0, 0, 0.1);
$shadow_scrollbar: inset 0 0 10px rgba(0, 0, 0, 0.17);
$shadow-action-bar: 0 -2px 2px rgba(0, 0, 0, 0.12);

// backgrounds
$background-select-filter-active: linear-gradient(
    0deg,
    rgba($color-white, 0.1),
    rgba($color-white, 0.1)
  ),
  $color-dark-green;
$background-select-filter-hover: linear-gradient(
    0deg,
    rgba($color-text, 0.14),
    rgba($color-text, 0.14)
  ),
  $color-dark-green;

$button-width: 165px;
