@import 'styles/variables';

.checkbox-button {
  box-sizing: border-box;
  width: min-content;

  &--errors {
    border: 1px solid $color-red;
  }

  &:hover,
  &:active,
  &:focus-within {
    text-decoration: none;
  }

  &.MuiButtonBase-root.MuiIconButton-root {
    padding: 7px;

    &.MuiCheckbox-root {
      color: $color-primary-40;
    }

    &.Mui-checked {
      color: $color-primary;
    }
  }
}
