@import 'styles/variables';
@import 'styles/typography';
@import 'styles/mixins/table';
@import '../table.scss';

.table-row {
  @include table-grid();
  grid-template-columns: $table-columns;
  align-items: flex-start;
  min-height: 39px;
}
