@import 'styles/variables';
@import 'styles/typography';
@import 'styles/mixins/table';
@import '../table.scss';

.table-row {
  @include table-row();
  grid-template-columns: $table-columns;
  min-height: 39px;

  &__column-action {
    @extend .button-common--text;
    
    cursor: pointer;

    & svg {
      max-width: 15px;
      max-height: 15px;
      margin-right: 4px;
      padding-left: 4px;
    }
  } 
}
