@import 'styles/variables';
@import 'styles/typography';

.react-table {
  @extend .text;
  background-color: $color-background-primary;
  border-radius: 10px;
  box-shadow: $shadow-table;

  &-headers {
    padding: 10px 0;
    background-color: $color-background-secondary;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    &__item {
      display: flex;
      align-items: center;
      padding-left: 10px;
    }
  }

  &-filters {
    min-height: 34px;
    border-top: 1px solid $color-border-20;
    border-bottom: 1px solid $color-border-20;

    &__item {
      display: flex;
      align-items: center;
      border-right: 1px solid $color-border-20;
    }
  }

  &-rows__wrapper {
    height: 75vh;
  }

  &-row {
    align-items: center;
    background-color: inherit;
    border-bottom: 1px solid $color-border-20;

    &:hover {
      background-color: $color-background-primary-hover;
      cursor: pointer;
    }

    &__item {
      display: flex;
      padding-left: 10px;
    }
  }

  & .sorting-button {
    max-height: 24px;
    margin-left: 4px;
    padding: 0;
    background-color: $color-background-secondary;
    border: none;
    transition: transform 0.3s;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }

    &__increase {
      transform: rotate(180deg);
    }

    &__decrease {
      transform: rotate(0);
    }

    &__active {
      color: $color-orange;
    }
  }
}
